@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import '../../utils/variables';

.login-page{
    background-color: #124E4C !important;
    overflow: auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-title {
    color: white !important;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    margin-top: 2%;
    font-size: 3em;
}

.login-logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
}

#registerBtn {
    margin-top: 5px;
    background-color: $col-green;
    color: white !important;
    padding: 6px 29px !important;
}

.loggingInText {
  font-family: 'Maven Pro', sans-serif;
  font-weight: 600;
  font-size: 23px;
  color: white;
}