.customSelect-label {
  margin-bottom: 1px;
  font-weight: 500;
  font-size: 22px;
}

.customSelect-input {
  font-size: 19px;
  width: 100% !important;
  border: 1px solid black !important;
  border-radius: 4px;
}

.customSelect {
  margin: 15px 0;
}

#small {
  .customSelect-label {
    margin-bottom: 2px;
    font-weight: 500;
    font-size: 20px !important;
  }

  .customSelect {
    font-size: 18px;
    width: 95% !important;
    border: 1px solid black !important;
    border-radius: 4px;
  }
}
