.registerTrainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .toast {
        flex-basis: 1px;
    }

    .error {
      border: 2px solid #ff6565;
    }
    

    form .row:last-child {
        .col:last-child {
            display: flex;
            justify-content: flex-end;
        }
    }
}

