/* Styles for reusable input field*/
.inputField-label{
    margin-bottom: 1px;
    font-weight: 500 !important;
    font-size: 22px !important;
}

.inputField-textArea{
    width: 100% !important;
    border: 1px solid black !important;
    padding: 8px 6px !important;
    font-size:20px !important;
}

.inputField{
    margin: 15px 0 !important;
}