@import '../../utils/variables';

.dashboard-greeting-title {
  color: black;
  font-size: 40px;
}

.dashboard-greeting {
  margin-top: 20px;
}

.welcome-info {
  color: color('gray');
}

.dashboard-card-deck {
  margin-top: 40px;
}

.dashboard-page {
  margin-bottom: 20px;
}

.dashboard-iconCard-row{
    margin-top: 20px;
    margin-bottom:20px;
}