.trainerProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .toast {
      flex-basis: 1px;
  }

  .error {
    border: 2px solid #ff6565;
  }

  .nameContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .profilePictureContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 1em;

    > img {
      border-radius: 50%;
      width: 50%;
      margin-bottom: 1em;
    }
  }

  form .row:last-child {
      .col:last-child {
          display: flex;
          justify-content: flex-end;
      }
  }
}

.pageLoader {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Maven Pro', sans-serif;
  font-weight: 600;
  font-size: 23px;
  color: black;
  height: 80vh;
}

