/*Styles for icon card*/
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');
@import '../../utils/variables';

.dashboard-card{
    background-color: white;
    border: 2px solid color('light-gray');
    border-radius: 15px !important;
    box-shadow: 0px 3px 18px color('light-gray');
    text-align: center;
    font-size: 40px;
    width: 100%;
}

.dashboard-card img{
    margin-top: 15px;
    margin-bottom:15px;
    width: 70px;
}

.dashboard-card-title p{
    font-family: 'Maven Pro', sans-serif;
    font-size: 30px;
    color:black;
}

a{
    text-decoration: none !important;
}

@media screen and (max-width: 768px) {
  
.dashboard-card{
    margin-top: 2px;
}
}