@import '../../utils/variables';

#clear-btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 34px;
  width: 32px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-input {
  height: 34px;
  width: 200px;
  border-radius: 3px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid color('light-gray');
  padding: 0 32px 0 16px;
}

.dropdown {
  margin: 15px 0px;
}

.expanded-component--btn-container {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin: 15px;
}

.expanded-component--save-btn {
  margin-right: 10px;
}
