/* Styles for reusable input field*/
.inputField-label {
  margin-bottom: 2px;
  font-weight: 500 !important;
  font-size: 22px !important;
}

.inputField-input {
  width: 100% !important;
  border: 1px solid black !important;
  padding: 10px 5px !important;
  font-size: 20px !important;
}

.inputField {
  margin: 15px 0 !important;
}
