// Define colors
$col-background: #f3f4f6;
$col-light-gray: #c4c4c4;
$col-green: #2cb081;
$col-dark-teal: #0e4e4d;

// Override and add bootstrap colors.
$colors: (
  'background': $col-background,
  'light-gray': $col-light-gray,
  'green': $col-green,
);

$theme-colors: (
  'primary': $col-dark-teal,
  'success': $col-green,
  'cancel': $col-light-gray,
);

// Export variables for use in js.
:export {
  background: $col-background;
}

// Has to be imported after overriding bootstrap variables.
@import '../../node_modules/bootstrap/scss/bootstrap';
