.addNewExercise-set-number{
    font-size: 30px;
    font-weight: 500;
    vertical-align: middle;
    text-align: center;
}
.center {
    margin: auto;
    height: 100%;
    padding: 10px;
    margin-top: 17px;
  }
  
.icon-clear{
    width: 40%;
    margin-top: 17px;
}
.inputField-label-exercise {
    margin-bottom: 2px;
    font-weight: 500;
    font-size: 17px;
  }
  
  .inputField-input-exercise {
    width: 100% !important;
    border: 1px solid black !important;
    padding: 2px 6px !important;
    font-size: 17px !important;
  }
  
.add-set-btn{
    border: none !important;
    color: black !important;
    font-weight: 400 !important;
    font-size: 19px !important;
     margin: 15px;
    padding: 8px 10px;
    background-color: #F3F4F6;
}

.add-exercise-btn{
    margin: 15px;
    padding: 8px 10px;
    border: none;
    color: black !important;
    font-weight: 400 !important;
    font-size: 19px !important;
    background-color: #F3F4F6;
}
  