@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');
@import './utils/variables';

body {
  background-color: color('background');
}

.fullscreen {
  padding: 0;
  height: 100%;
}

html, body, #root {
    height: 100%;
}


.page-heading {
  margin-top: 20px;
  font-family: 'Maven Pro', sans-serif;
  font-weight: bold;
  text-align: center;
}

.buttonContainer {
  margin-top: 40px;
}
