@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');
@import '../../utils/variables';

.base-button {
  padding: 8px 30px !important;
  border: none !important;
  font-family: 'Maven Pro', sans-serif !important;
  font-weight: 600 !important;
  font-size: 23px !important;
}

.base-button--pluss-sign {
  margin-right: 0.5em;
}
